*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{

       background:linear-gradient(rgb(10, 108, 157), rgb(83, 53, 85));
    
}

#contact-form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    
    
    
    box-sizing: border-box;
    height:auto;
    margin:auto;
    margin-bottom:7vh;
    margin-top:5vh;
    
    
}
#contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(51, 48, 48);;
    border:1vh solid black;
    border-radius:1vw;
    width:45vw;
    height:85vh;
    
    
    
}
#contact-header{
    
}

#contact-subheader{
    text-align:center;
    font-size:1.9vw;
    margin-bottom:2vh;
    color: rgb(174, 154, 154);
    font-family: "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



#contact-form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

#input-container{
    margin-top:2vh;
    height:auto;   
}

.form-input{
    height:3vh;
    width:13vw;
    height:6vh;
    display:flex;
    justify-content: center;
    text-align:center;
    margin:auto;
    margin-bottom:2vh;
    border:0.05vw solid black;
    border-radius:0.2vw;
    background-color: rgba(255,255,255,0.5);
}

.form-input::placeholder{
    padding-top:20vh;
    font-size:1.2vw;
    
}



.form-input-labels{
  
    
    color:rgb(255, 248, 248);
    font-weight:600;
    font-size:1.3vw;
    margin-bottom:0.5vh;
    margin:auto;
    margin-top:1.5vh;
    justify-content: center;
    text-align: center;
    display:flex;
    
}




#username-label{
     margin-bottom:1vh;
     font-size:1.4vw;
    
}



#username-label{
    width:30vw;
    height:6vh;
}

#password-label{

}







input::placeholder{

    font-size:1.5vw;
     
}






#contact-submit-btn{
    
    border-radius:0.5vw;
    font-size:2.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-stretch:expanded;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    width:15vw;
    height:6.4vh;
    font-weight: 500;
    background-color: #4a7fa8;
    border:.1vw solid rgb(0, 0, 0);
    
    margin-top:1vh;
    padding-bottom:0.4vh;
    cursor:pointer;
    
}

#contact-submit-btn:hover{
    background-color:rgb(58, 58, 108);
}
#registered-link{
      font-size:0.9vw;
    margin-top:3vh;
    color:rgb(168, 168, 176);
    display: flex;
    justify-content: center;
  
}

registered

/*Footer Section */

#footer{
    
    width:100%;
    height:9vh;
background:linear-gradient( rgb(83, 53, 85), rgb(63, 70, 74));
    border-top:.1vh solid black;
    display: flex;
    align-items: center;
    text-align: center;
    
}

#footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
}

#footer-text{
    font-size:1.1vw;
}



/*End of Footer Section */
