*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
  
       background:linear-gradient(rgb(10, 108, 157), rgb(83, 53, 85));
}


#section-1{
    background:linear-gradient(rgb(10, 108, 157), rgb(83, 53, 85));
    height:100vh;
    border-bottom:0.3vh solid black;
    
}

.headings{
    text-decoration: underline;
    font-size:3vw;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    
}

/*Intro Section*/

#intro{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.lofi-girl-img{
    height:46vh;
    width:41vw;
    border:0.5vw solid black;
    border-radius:1vw;
    
}



#header-1{
    
    margin-top: 8.8vh;
    font-size:4vw;
    margin-bottom:4vh;
}

#subheader-1{
    font-size:2vw;
    margin-bottom:5vh;
}

#get-started-btn-container{
    height:2vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
    margin-top:7vh;
}



.get-started-btn{
    height:9.5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:11vw;
    border-radius: 1vw;
   
    border:0.3vw solid black;
    font-size:1.1vw;
    font-weight:bold;
    color:black;
   
    
    cursor:pointer;
    text-decoration-line:none;
    background:linear-gradient(rgb(121, 57, 88), rgb(113, 113, 171));
}

#get-started-link{
    text-decoration-line: none;
}
#get-started-btn-1{
    margin-top:2vh;
     text-decoration-line:none;
     margin-right:3vh;
}

#get-started-btn-2{
    margin-top:2vh;
    
}
.get-started-btn:hover{
    background-color: green;
}

#registered-link{
    font-size:0.9vw;
    margin-top:7vh;
    color:rgb(168, 168, 176);
  
}








/*Footer Section */

#footer{
    
    width:100%;
    height:9vh;
background:linear-gradient( rgb(83, 53, 85), rgb(63, 70, 74));
    border-top:.1vh solid black;
    display: flex;
    align-items: center;
    text-align: center;
    
}

#footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
}

#footer-text{
    font-size:1.1vw;
}



/*End of Footer Section */
